settings set prompt "(olunin) "
settings set target.x86-disassembly-flavor intel
script print "\033[92m                 lllllll                                     iiii                   "
script print "                 l:::::l                                    i::::i                  "
script print "                 l:::::l                                     iiii                   "
script print "                 l:::::l                                                            "
script print "   ooooooooooo    l::::l uuuuuu    uuuuuunnnn  nnnnnnnn    iiiiiiinnnn  nnnnnnnn    "
script print " oo:::::::::::oo  l::::l u::::u    u::::un:::nn::::::::nn  i:::::in:::nn::::::::nn  "
script print "o:::::::::::::::o l::::l u::::u    u::::un::::::::::::::nn  i::::in::::::::::::::nn "
script print "o:::::ooooo:::::o l::::l u::::u    u::::unn:::::::::::::::n i::::inn:::::::::::::::n"
script print "o::::o     o::::o l::::l u::::u    u::::u  n:::::nnnn:::::n i::::i  n:::::nnnn:::::n"
script print "o::::o     o::::o l::::l u::::u    u::::u  n::::n    n::::n i::::i  n::::n    n::::n"
script print "o::::o     o::::o l::::l u::::u    u::::u  n::::n    n::::n i::::i  n::::n    n::::n"
script print "o::::o     o::::o l::::l u:::::uuuu:::::u  n::::n    n::::n i::::i  n::::n    n::::n"
script print "o:::::ooooo:::::ol::::::lu:::::::::::::::uun::::n    n::::ni::::::i n::::n    n::::n"
script print "o:::::::::::::::ol::::::l u:::::::::::::::un::::n    n::::ni::::::i n::::n    n::::n"
script print " oo:::::::::::oo l::::::l  uu::::::::uu:::un::::n    n::::ni::::::i n::::n    n::::n"
script print "   ooooooooooo   llllllll    uuuuuuuu  uuuunnnnnn    nnnnnniiiiiiii nnnnnn    nnnnnn \033[00m"
